/* Portrait tablets and medium desktops */
@media (max-width: 1125px) {
    .wrapper{
        padding: 15px;
    }
    .sidebar{
        display: none;
    }
    .nav-bottom{
        display: block;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .content{
        flex-direction: column;
    }
    .content .left{
        width: 100%;
    }
    .user-info-mobile{
        display: block;
    }
    .right .user-info{
        display: none;
    }
}

/* Landscape phones and smaller */
@media (max-width: 600px) {
    .module_screencats:nth-child(1){
        margin-right: 0 !important;
        width: 100% !important;
    }
    .module_screencats:nth-child(2){
        margin-left: 0 !important;
        width: 100% !important;
    }
}

/* phones smaller */
@media (max-width: 450px) {
    .portfolio__item{
        width: 50% !important;
    }
    .nav-bottom{
        display: block;
    }
}